<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.text_field :fullname, autofocus: true, :class => "form-control", :placeholder => "Full Name" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, :class => "form-control", :placeholder => "Email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "New Password (leave blank if you don't want to change it)" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirm Password" %>
      </div>
      <div class="form-group">
        <%= f.password_field :current_password, autocomplete: "off", :placeholder => "Type current password to confirm your change", :class => 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Save", :class => "btn btn-primary" %>
      </div>
    <% end %>
</div>
</div>

