<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.text_field :fullname, autofocus: true, :class => "form-control", :placeholder => "Full Name" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
      </div>
      <div class="form-group">
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign Up", :class => "btn btn-primary" %>
      </div>
    <% end %> 
  </div>
</div>